<h2>List of Service Names</h2>

<% @services.each do |service| %>
  <%= content_tag :div, class: "media", id: "service-#{service.id}" do %>
    <div class="media">
      <p class="media-heading">Service Name: <%= link_to service.name, service %></p> |
      <%= link_to "Edit service name", edit_service(service) %>
    </div>
  <% end %>
<% end %>
