<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <div class="media-body">
        <h2 class="media-heading">Jobs for: <%= current_user.full_name %></h2>
          <div class="well">
            <p>Date: <%= @job.job_date %></p>
            <p>Status <%= @job.job_status %></p>
          </div>
      </div>
    </div>
  </div>
</div>
