<h2>List of Document Names</h2>

<% @documents.each do |document| %>
  <%= content_tag :div, class: "media", id: "document-#{document.id}" do %>
    <div class="media">
      <p class="media-heading">Document Name: <%= link_to document.name, document %></p> |
      <%= link_to "Edit document name", edit_document(document) %>
    </div>
  <% end %>
<% end %>
