<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <div class="media-body">
        <h2 class="media-heading">Document Name: <%= @document.name %></h2>
          <div class="well">
            <%= render partial: 'documents/form', locals: { document: @document } %>
            <p class="js-btn"><%= link_to "Edit document" %> |
             <%= link_to "Delete document", @document, method: :delete, data: { confirm: 'Are you sure you want to delete this document?' } %>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
