<h2>List of Company Names</h2>

<% @companies.each do |company| %>
  <%= content_tag :div, class: "media", id: "company-#{company.id}" do %>
    <div class="media">
      <p class="media-heading">Company Name: <%= link_to company.name, company %></p> |
      <%= link_to "Edit company name", edit_company(company) %>
    </div>
  <% end %>
<% end %>
