<div class="js-form">
  <%= form_for [emailable, email] do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', placeholder: "Enter email" %>
    </div>
    <%= f.submit "Submit Address", class: "btn btn-default pull-right" %>
  <% end %>
</div>
